*{
  box-sizing: border-box;
}

:root{
  --box-shadow-container: 1px 1px 2px 1px rgba(0, 0, 0, 0.254);
  --box-shadow-inputs: 1px 1px 0px 1px hsl(200, 20%,70% );
  --darkGreen-bgColor:  hsl(175, 100%,20%);
  --lightgreyBorder1px: 1px lightgrey solid;
  --darkgreyBorder1px: 1px darkgrey solid;

  --button-textColor:  hsl(200, 90%, 100%);
  --text-black: hsl(200, 90%, 0%);
  --white-bgColor: hsl(200, 90%, 100%);
}

body{
  text-align: center;
  background-color: hsl(175, 90%, 95%);
  margin: 0;
  color: var(--text-black);

}

.navbar{
  background-color: var(--darkGreen-bgColor);
  color:  var(--button-textColor);
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar h3{
  margin-left: 24px;
  letter-spacing: 2px;
}



.errorMessage{
  margin-bottom: 0;
}

ul{
  list-style-type: none;
}

button{
  background-color: var(--darkGreen-bgColor);
  color: var(--button-textColor);
  border: transparent;
  box-shadow: var( --box-shadow-inputs);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

main{
  display: flex;
  flex-direction: row;
}

.navbar--logout{
  display: none;
}


button:not([disabled]):hover{
  background-color: var(--button-textColor);
  color: var(--darkGreen-bgColor);

}

button:disabled{
  cursor: none;
  opacity: 0.5;
}

.postForm{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content:space-between;
  margin: 18px auto;
  padding: 8px;
}

.postForm--form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postForm--image, .postContainer--info--image{
  height: calc(2rem + 1vw);
  object-fit: cover;
  border-radius: 25%;
  cursor: pointer;
}

.postContainer--info--image{
  height: calc(1rem + 1vw);
  margin-right: 8px;
  cursor: none;
}
.postContainer--info--username{
  margin: 8px 0;
}

.postContainer--info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

select{
  border-radius: 10px;
  border: transparent;
  box-shadow: var( --box-shadow-inputs);
  color: var(--button-textColor);
  background-color: var(--darkGreen-bgColor);
  padding: 4px;
  margin: 8px;
  font-weight: bold;
}

.usersContainer--userProfile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.usersContainer--userProfile--image{
  height: calc(2rem + 1vw);
  width: 25%;
  object-fit: cover;
  border-radius: 25%;
  margin-right: 15%;
}

.postForm--button, .updateUser--button{
  width: calc(4rem + 1vw);
  height: calc(2rem + 1vw);
}

.updateUser--button{
  margin-top: 8px;
}

.postForm input{
  width: 70%;
  height: calc(2rem + 1vw);
  margin: 0 auto;
}

input, textarea{
  border-radius: 10px;
  box-shadow: var( --box-shadow-inputs);
  border: var(--lightgreyBorder1px);
  padding: 4px;
}

.postContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--darkgreyBorder1px);
  border-radius: 5px;
  box-shadow: var( --box-shadow-container);
  margin: 8px auto;
  background-color: var(--white-bgColor);
}

.usersContainer{
  display: none;
}

.userProfile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.userProfile img{
  height: calc(1rem + 1vw);
  border-radius: 25%;
  margin-right: 25%;

}
.replyContainer{
  flex-direction: column;
  background-color: rgb(233, 224, 224);
  width: 80%;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 8px;
}

.replyContainer--username{
  margin: 4px 0 0;
  font-size: 1rem;
}

.replyContainer--postText{
  margin: 0;
  padding: 4px 8px;
  font-size: 0.8rem;
}

.postContainer--buttons button{
  width: calc(5rem + 1vw);
  height: calc(1.5rem + 1vw);
  margin: 0 4px;
  background-color: transparent;
  border: var(--lightgreyBorder1px);
  color: var(--text-black);
}
.showHide--button{
  width: calc(8rem + 1vw);
  height: calc(1.5rem + 1vw);
  margin-bottom: 18px;
  background-color: transparent;
  color: var(--text-black);
  border: 2px solid lightgray;
}

.postContainer--postText{
  width: 90%;
  margin-top: 8px;
}

.postContainer--username{
  margin: 4px 0;
}

.postContainer--buttons{
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.hidden{
  display: none;
}

.logIn{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.logIn div{
  margin: 8px auto;
}

.logIn--button{
  margin: 8px 16px;
  width: calc(6rem + 1vw);
  height: calc(1rem + 1vw);
}

.postContainer--updateInput{
  margin: 8px;
  width: 90%;
}

.updateUser{
  flex-direction: column;
  margin-bottom: 18px;
}

.updateUser input{
  margin: 8px auto;  
}


.replyForm{
  margin-top: 0;
}

.somethingContainer{
  width: 20%;
}

.burgerMenu{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  background-color: var(--darkGreen-bgColor);
  display: flex;
  flex-direction: column;
}

.burgerMenu--ul{
  margin: 0;
  padding: 0;
}

.burgerMenu--lines{
  background-color: var(--white-bgColor);
  width: 20%;
  height: 4px;
  margin: 8px auto;
}

.cross{
  margin-top: 8px;
}

.cross :first-child{
  transform: rotate(-45deg) translate(-8px, 9px);
}

.cross :nth-child(2){
  opacity: 0;
}

.cross :nth-child(3){
  transform: rotate(45deg) translate(-8px, -9px);
}

.burgerMenu--linksList{
  margin-top: 16px;
  padding: 0;
}

.burgerMenu--linksList--links{
  cursor: pointer;
  margin-bottom: 24px;
  font-size: calc(0.75rem + 1vw);
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 1px;

}

.updateUser--button-close{
  align-self: flex-start;
  width: calc(1.5rem + 1vw);
  height: calc(1rem + 1vw);
  border: none;
  text-align: center;
}


@media screen and ( min-width: 500px) {
  .postsAndPostFormcontainer {
    width: 50%;
    margin: 0 auto;
  }
  .usersContainer{
    display: flex;
    flex-direction: column;
    border: var(--lightgreyBorder1px);
    border-radius: 5px;
    box-shadow: var( --box-shadow-container);
    margin: 8px auto;
    background-color: var(--white-bgColor);
    margin-top: 18px;
    padding: 8px;
    width: 20%;
  }


  .postForm{
    width: 90%;
  }

  .burgerMenu{
    display: none;
  }

  .navbar--logout{
    margin-right: 16px;
    width: calc(4rem + 1vw);
    height: 60%;
    background-color: var(--white-bgColor);
    color: var(--darkGreen-bgColor);
    display: block;
  }
}
