*{
  box-sizing: border-box;
}

:root{
  --box-shadow-container: 1px 1px 2px 1px hsl(200, 20%,0% );
  --box-shadow-inputs: 1px 1px 0px 1px hsl(200, 20%,70% );
  --button-bgColor: hsl(200, 90%, 100%);
  --button-textColor: hsl(175, 100%,20%);
}

body{
  text-align: center;
  background-color: hsl(150, 70%, 90%);
}

.navbar{
  background-color: var(--button-textColor);
  color: var(--button-bgColor);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar h3{
  margin-left: 24px;
}

main{
  width: 100%;
}

button{
  background-color: var(--button-bgColor);
  color: var(--button-textColor);
  border: transparent;
  box-shadow: var( --box-shadow-inputs);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover{
  background-color: var(--button-textColor);
  color: var(--button-bgColor);

}

.postForm{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 18px auto;
  height: calc(2rem + 1vw);
}

.postForm label{
  color: rgb(3, 62, 59);
  font-weight: bold;
}

select{
  border-radius: 10px;
  border: transparent;
  box-shadow: var( --box-shadow-inputs);
  color: var(--button-textColor);
  background-color: var(--button-bgColor);
  padding: 4px;
  margin: 8px;
  font-weight: bold;
}

.postForm--button{
  width: calc(4rem + 1vw);
  height: 80%;
}

.postForm input{
  width: 50%;
}

input, textarea{
  border-radius: 10px;
  box-shadow: var( --box-shadow-inputs);
  border: transparent;
  padding: 4px;
  margin: 0 8px;
}

.postContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: var( --box-shadow-container);
  margin: 8px auto;
}

.postContainer button{
  width: calc(4rem + 1vw);
  height: calc(1.5rem + 1vw);
  margin: 0 8px;
}

.postContainer--postText{
  width: 90%;
  margin-top: 8px;
}

.postContainer--username{
  margin: 8px 0;
}

.postContainer--buttons{
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.hidden{
  display: none;
}

.logIn{
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.logIn div{
  margin: 8px auto;
}

.logIn--button{
  margin: 8px auto;
  width: calc(6rem + 1vw);
  height: calc(1rem + 1vw);
}

.postContainer--updateInput{
  margin: 8px;
  width: 90%;
}

@media screen and ( min-width: 500px) {
  main {
    width: 50%;
    margin: 0 auto;
  }
}
